// place your custom styles here
.vp-blog-mask{
  background-image: url("https://programuoki.lt/background.PNG")!important;
}
.vp-blog-hero{
 height: 250px;
}
.vp-blog-hero-title{
  font-family: Lato,sans-serif;
  font-size: xxx-large;
  border-bottom: white 1px solid;
  padding: 0.1em;
}
.vp-blog-hero-description{
  font-size: larger;
    font-family: Lato,sans-serif;
}

